.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
}

.project img {
    width: 700px;
    border-radius: 10px;
}

.project p {
    margin: 50px;
    font-size: 30px;
    color: #012d0f;
}

.project svg {
    font-size: 60px;
    color: #3e497a;
}